.wwwcel {
    display: none;
}
.footer2Cel2 {
    display:none;
}
.footerCel2 {
    display:none;
}
.wwwcel2 {
    display: none;
}
.footerCel{
    display: none;
}
.footer2Cel{
    display: none;
}
.wwwCel {
    display: none;
}
.ropajecel {
    display: none;
}
