html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	width: auto;
	height: 100vw;
	animation: Animacion 2s ease 0s 1 normal forwards;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.hidden{
	display:none
}
/* fin del reset */
@import "variables";
@import "header-footer";
#index {
	background-color: black;
	display: grid; 
	overflow-x: hidden;
	grid-template-columns: 1fr 1fr 1fr; 
	grid-template-rows: auto; 
	gap: 0px 0px; 
	@include center;
	@include mix;
	grid-template-areas: 
	"header header header"
	"nav nav nav"
	"logo logo logo"
	"h1 h1 h1"
	"footerPadre footerPadre footerPadre";
	.logo {
		grid-area: logo; 
		display:grid;
		align-items: center;
		width: auto;
		height: 80vh;
		padding-bottom: 5vw;
		animation: Animacion 2s ease 0s 1 normal forwards;
	}
	.h1 {
		grid-area: h1;
		color: black;
		font-size: 40px;
		position: relative;
		align-self: center;
		text-align: center;
		@include mix;
		@include center;
		font-family: bebas neue;
		font-style: oblique;
	}
	#footerPadre {
		grid-area: footerPadre;
		display: grid; 
		grid-template-columns: 1fr 1fr 1fr; 
		grid-template-rows: auto; 
		gap: 0px 0px; 
		@include mix;
		grid-template-areas: 
		"footer footer footer"
		"iframe iframe iframe"
		"footer2 footer2 footer2"; 
		.footer {
			grid-area: footer;
			padding-bottom: 3px;
			@include mix
		}
		#iframe {
			grid-area: iframe;
			width: 99.5vw;
			height: 40vw;
			position: relative;
		}
		.footer2{
			grid-area: footer2;
			@include mix;
			padding-top: 1px;
		}
	}
}
@media screen and (max-width: 1023px){
	#index .logo {
		width: 600px;
		height: auto;
	}
	#index h1 {
		font-size: 35px;
	}
}
@media screen and (max-width: 767px){
	#index .logo {
		width: 80vw;
		height: auto
	}
	#index h1 {
		font-size: 10vw;
	}
}

#productos {
	@include mix;
	background-color: black;
	display: grid; 
	grid-template-columns: auto ; 
	grid-template-rows: auto; 
	gap: 0px 0px 0px 10px;
	@include center;
	grid-template-areas: 
	"header header header"
	"nav nav nav"
	"div1 div1 div1"
	"navPag navPag navPag"
	"footer footer footer"; 
	#div1 {
		display: grid; 
		height: auto;
		width: 100vw;
		grid-template-columns: repeat(auto-fill, minmax(600px, auto));
		grid-auto-rows: auto; 
		gap: 0px 40px;
		margin-top: 5vh;
		margin-bottom: 5vh;
		grid-area: div1; 
		@include center;
		.imgRopa {
			display:grid;
			height: 650px;
			width:auto;
			}
	}
	.navPag {
		display: grid;
		grid-area: navPag;
		@include center;
		.pagination {
			align-items: center;
			margin: 0%;
			.page-link1 {
				position: relative;
				display: block;
				padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
				font-size: var(--bs-pagination-font-size);
				color: $amarillo;
				text-decoration: none;
				background-color: black;
				transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
			}
		}
	}
	#footerPadre { 
		grid-area: footer; 
		@include mix;
	}
}
@media screen and (max-width: 1023px){
	#productos #div1 .imgRopa {
		width: 50vw;
		height: auto;
	}
}
@media screen and (max-width: 767px){
	#productos #div1 .imgRopa {
		width: 400px;
		height: auto;
	}
}
@media screen and (max-width: 476px){
	#productos #div1 .imgRopa {
		width: 85vw;
		height: auto;
	}
}

#nosotros {
	background-color: black;
	@include mix;
	.container-fluid-paddingnone{
		@each $row in row1 row2 row3 row4 row5 {
			.#{$row} {
				width: 100vw;
				height: auto;
				align-items: center;
				align-content: center;
				justify-content:center;
				justify-self: center;
				justify-items: center;
			}
		}
		.porQue {
			display: grid;
			position: relative;
			width: 80vw;
			height: auto;
			grid-area: p2;
			font-size: 30px;
			font-family: bebas neue;
			text-align: center;
			font-style: oblique;
			-webkit-text-stroke: 0px;
			font-style: oblique;
			text-shadow: 0px 2px $amarillo2;
			color:  $amarillo;
			@include center;
			margin-left: 10vw;			
			margin-right: 10vw;	
			margin-top: 2vw;
			margin-bottom: 2vw;	
			overflow: hidden;
			.strong{
				width:100vw;
			}	
		}
		.ropaje{
			@include mix;
			padding: 0%;
			margin: 0%;
		}
		.ropajecel{
			display: none;
			@include mix;
			padding: 0%;
			margin: 0%;
		}
		.main {
			box-sizing: content-box;
			margin-top: 50px;
			margin-bottom: 50px;
			display: flex;
			gap: 20vw;
			position: relative;
			width: 100vw;
			height: auto;
			grid-area: p2;
			-webkit-text-stroke: 0.5px;
			color:  $amarillo;
			@include center;
			a {
				transition: all 1s ease-in-out ;
				img {
					width: 12vw;
				}
			}
		}
		.main a:hover{
			transform: scale(1.2)
		}
		#footerPadre {  
			@include mix;
			.footer {
				padding: 0%;
				margin: 0%;
				@include mix;
			}
			.footerCel {
				padding: 0%;
				margin: 0%;
				@include mix;
			}
			.footerCel2 {
				padding: 0%;
				margin: 0%;
				@include mix;
			}
		}
	}
}
@media screen and (max-width: 1023px){
	#nosotros .row3 .ropaje {
		display: none;
	}
	#nosotros .row3 .ropajecel {
		@include mix;
		display: flex;
	}
	#nosotros .row2 .porQue {
		font-size: 30px;
	}
}
@media screen and (max-width: 767px){
	#nosotros .row2 .porQue {
		font-size: 25px;
	}
	#nosotros .row-4 .main a img{
		width: 17vw;
	}
}
@media screen and (max-width: 476px){
	#nosotros .row2 .porQue {
		font-size: 20px;
		margin-left: 0vw;			
		margin-right: 0vw;
		width: 100vw;	
	}
	#nosotros .row4 .main a img{
		width: 30vw;
	}
}

#mentirita {
	@include mix;
	background-color: black;
}

#ropa {
	display: grid; 
	background-color: black;
	grid-template-columns: 1fr 1fr; 
	grid-template-rows: auto; 
	gap: 0px 0px;
	padding: 0%;
	margin: 0%;
	@include mix;
	@include center;
	grid-template-areas: 
	"header header"
	"nav nav"
	"article article"
	"navPag2 navPag2"
	"footer footer";
	.article {
		display: grid; 
		grid-template-columns: repeat( auto-fit, minmax(37.5rem, auto));
		grid-auto-rows: auto; 
		@include mix;
		-ms-grid-column-align: center;
		gap: 10px 10px; 
		@include center;
		grid-area: article; 
		margin: 10px 10px;
		#carouselExampleDark {
			width: 500px;
			height: auto;
			@include center;
			display: grid;
			.botonCarousel{
				width: 100px;
			}
		}
		
		.div3 {
			@include center;
			display: grid;
			gap: 20px;
			.backgroundcel {
				display: grid;
				@include center;
			}
			.comprar {
			margin-top: 10px;
			}
		}
	}
	#sectionRopa {
		grid-area: navPag2;
		display: flex;
		flex-wrap: wrap;
		@include center;
		@include mix;
		margin: 10px;
		margin-top: 10vw;
		margin-bottom: 1vw; 
		.SectionRopaImg{
			width: 12vw;
			margin: 1vw;
		}  
	}
	#footerPadre {grid-area: footer;
		margin: 1vw 0vw 0vw 0vw;}
}
@media screen and (max-width: 1023px){
	#ropa #sectionRopa .SectionRopaImg{
		width: 25vw;
		margin: 1vw;
	}
	#ropa .article #carouselExampleDark{
		width: 50vw;
	}
}
@media screen and (max-width: 767px){
	#ropa #sectionRopa .SectionRopaImg{
		width: 120px;
		margin: 1vw;
	}
	#ropa .article #carouselExampleDark {
		width: 400px;
		height: auto;
	}
	#ropa .article .div3 .backgroundcel {
		width: 400px;
		height: auto;
	}
	#ropa .article .div3 .comprar {
		width: 400px;
		height: auto;
	}
}
@media screen and (max-width: 476px){
	#ropa #sectionRopa .SectionRopaImg{
		width: 100px;
	}
	#ropa .article #carouselExampleDark {
		width: 80vw;
		height: auto;
	}
	#ropa .article .div3 .backgroundcel {
		width: 80vw;
		height: auto;
	}
	#ropa .article .div3 .comprar {
		width: 80vw;
		height: auto;
	}
	.article #carouselExampleDark .botonCarousel{
		width: 2vw;
	}
}
@media screen and (max-width: 375px){
	#ropa #sectionRopa .SectionRopaImg{
		width: 80px;
	}
}

