html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  width: auto;
  height: 100vw;
  -webkit-animation: Animacion 2s ease 0s 1 normal forwards;
          animation: Animacion 2s ease 0s 1 normal forwards;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.hidden {
  display: none;
}

/* fin del reset */
@-webkit-keyframes Animacion {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
@keyframes Animacion {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}
#header {
  grid-area: header;
  width: 100vw;
  height: auto;
  margin: 0%;
  padding: 0%;
}

.www {
  display: grid;
  width: 100vw;
  height: auto;
  margin: 0%;
  padding: 0%;
}

#nav {
  grid-area: nav;
  display: grid;
}
#nav #nav1 {
  padding: 0%;
}
#nav #nav1 .ul2 {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100vw;
}
#nav #nav1 .ul2 .imgMenu {
  width: 200px;
}
#nav #nav1:hover .ul2 {
  display: grid;
  position: absolute;
  -webkit-animation: Animacion 2s ease 0s 1 normal forwards;
          animation: Animacion 2s ease 0s 1 normal forwards;
  z-index: 1000;
}
#nav ul {
  padding: 0%;
}

#header .wwwcel {
  display: none;
}

#footerPadre .footer2Cel2 {
  display: none;
}

#footerPadre .footerCel2 {
  display: none;
}

#header .wwwcel2 {
  display: none;
}

#header .wwwCel {
  display: none;
}

#footerPadre .footerCel {
  display: none;
}

#footerPadre .footer2Cel {
  display: none;
}

@media screen and (max-width: 1200px) {
  #nav #nav1 .ul2 .imgMenu {
    width: 215px;
  }
}
@media screen and (max-width: 1023px) {
  #footerPadre .footer {
    display: none;
  }
  #footerPadre .footer2 {
    display: none;
  }
  #header .www {
    display: none;
  }
  #header .wwwcel2 {
    display: none;
  }
  #header .wwwCel {
    display: grid;
    width: 100vw;
    height: auto;
    margin: 0%;
    padding: 0%;
  }
  #header .wwwcel {
    display: grid;
    width: 100vw;
    height: auto;
    margin: 0%;
    padding: 0%;
  }
  #nav #nav1 .ul2 {
    display: grid;
  }
  #nav #nav1 .ul2 .imgMenu {
    display: grid;
    width: 200px;
  }
  #header #nav1:hover .ul2 {
    display: grid;
    position: relative;
    -webkit-animation: none;
            animation: none;
  }
  #footerPadre .footerCel {
    display: grid;
    grid-area: footer;
    width: 100vw;
    height: auto;
  }
  #footerPadre .footer2Cel {
    display: grid;
    grid-area: footer2;
    width: 100vw;
    align-items: center;
  }
}
@media screen and (max-width: 767px) {
  #footerPadre .footer2Cel {
    display: none;
  }
  #footerPadre .footerCel {
    display: none;
  }
  #nav #nav1 .ul2 .imgMenu {
    display: grid;
    width: 150px;
  }
  #header .wwwcel2 {
    margin: 0%;
    padding: 0%;
    width: 100vw;
    display: grid;
    height: auto;
  }
  #header .wwwcel {
    display: none;
  }
  #footerPadre .footer2Cel2 {
    display: grid;
    width: 100vw;
    height: auto;
    grid-area: footer2;
  }
  #footerPadre .footerCel2 {
    display: grid;
    width: 100vw;
    height: auto;
  }
}
@media screen and (max-width: 476px) {
  #nav #nav1 .ul2 .imgMenu {
    width: 120px;
  }
}
#index {
  background-color: black;
  display: grid;
  overflow-x: hidden;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  width: 100vw;
  height: auto;
  grid-template-areas: "header header header" "nav nav nav" "logo logo logo" "footerPadre footerPadre footerPadre";
}
#index .logo {
  grid-area: logo;
  display: grid;
  align-items: center;
  width: auto;
  height: 80vh;
  padding-bottom: 5vw;
  color: black;
}
#index .logo .logotext {
  position: absolute;
  z-index: -1;
}
#index #footerPadre {
  grid-area: footerPadre;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  width: 100vw;
  height: auto;
  grid-template-areas: "footer footer footer" "iframe iframe iframe" "footer2 footer2 footer2";
}
#index #footerPadre .footer {
  grid-area: footer;
  padding-bottom: 3px;
}
#index #footerPadre #iframe {
  grid-area: iframe;
  width: 99.5vw;
  height: 40vw;
  position: relative;
}
#index #footerPadre .footer2 {
  grid-area: footer2;
  width: 100vw;
  height: auto;
  padding-top: 1px;
}

@media screen and (max-width: 1023px) {
  #index .logo {
    width: 600px;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  #index .logo {
    width: 80vw;
    height: auto;
  }
}
#productos {
  width: 100vw;
  height: auto;
  background-color: black;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 0px 0px 0px 10px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  grid-template-areas: "header header header" "nav nav nav" "div1 div1 div1" "navPag navPag navPag" "footer footer footer";
}
#productos #div1 {
  display: grid;
  height: auto;
  width: 100vw;
  grid-template-columns: repeat(auto-fill, minmax(600px, auto));
  grid-auto-rows: auto;
  gap: 0px 40px;
  margin-top: 5vh;
  margin-bottom: 5vh;
  grid-area: div1;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}
#productos #div1 .imgRopa {
  display: grid;
  height: 650px;
  width: auto;
}
#productos .navPag {
  display: grid;
  grid-area: navPag;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}
#productos .navPag .pagination {
  align-items: center;
  margin: 0%;
}
#productos .navPag .pagination .page-link1 {
  position: relative;
  display: block;
  padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
  font-size: var(--bs-pagination-font-size);
  color: rgb(255, 238, 0);
  text-decoration: none;
  background-color: black;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
#productos #footerPadre {
  grid-area: footer;
  width: 100vw;
  height: auto;
}

@media screen and (max-width: 1023px) {
  #productos #div1 .imgRopa {
    width: 50vw;
    height: auto;
  }
}
@media screen and (max-width: 767px) {
  #productos #div1 .imgRopa {
    width: 400px;
    height: auto;
  }
}
@media screen and (max-width: 476px) {
  #productos #div1 .imgRopa {
    width: 85vw;
    height: auto;
  }
}
#nosotros {
  background-color: black;
  width: 100vw;
  height: auto;
}
#nosotros .container-fluid-paddingnone .row1 {
  width: 100vw;
  height: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}
#nosotros .container-fluid-paddingnone .row2 {
  width: 100vw;
  height: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}
#nosotros .container-fluid-paddingnone .row3 {
  width: 100vw;
  height: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}
#nosotros .container-fluid-paddingnone .row4 {
  width: 100vw;
  height: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}
#nosotros .container-fluid-paddingnone .row5 {
  width: 100vw;
  height: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}
#nosotros .container-fluid-paddingnone .porQue {
  display: grid;
  position: relative;
  width: 80vw;
  height: auto;
  grid-area: p2;
  font-size: 30px;
  font-family: bebas neue;
  text-align: center;
  font-style: oblique;
  -webkit-text-stroke: 0px;
  font-style: oblique;
  text-shadow: 0px 2px 255, 238, 0, 0.322;
  color: rgb(255, 238, 0);
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 2vw;
  margin-bottom: 2vw;
  overflow: hidden;
}
#nosotros .container-fluid-paddingnone .porQue .strong {
  width: 100vw;
}
#nosotros .container-fluid-paddingnone .ropaje {
  width: 100vw;
  height: auto;
  padding: 0%;
  margin: 0%;
}
#nosotros .container-fluid-paddingnone .ropajecel {
  display: none;
  width: 100vw;
  height: auto;
  padding: 0%;
  margin: 0%;
}
#nosotros .container-fluid-paddingnone .main {
  box-sizing: content-box;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  gap: 20vw;
  position: relative;
  width: 100vw;
  height: auto;
  grid-area: p2;
  -webkit-text-stroke: 0.5px;
  color: rgb(255, 238, 0);
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}
#nosotros .container-fluid-paddingnone .main a {
  transition: all 1s ease-in-out;
}
#nosotros .container-fluid-paddingnone .main a img {
  width: 12vw;
}
#nosotros .container-fluid-paddingnone .main a:hover {
  transform: scale(1.2);
}
#nosotros .container-fluid-paddingnone #footerPadre {
  width: 100vw;
  height: auto;
}
#nosotros .container-fluid-paddingnone #footerPadre .footer {
  padding: 0%;
  margin: 0%;
  width: 100vw;
  height: auto;
}
#nosotros .container-fluid-paddingnone #footerPadre .footerCel {
  padding: 0%;
  margin: 0%;
  width: 100vw;
  height: auto;
}
#nosotros .container-fluid-paddingnone #footerPadre .footerCel2 {
  padding: 0%;
  margin: 0%;
  width: 100vw;
  height: auto;
}

@media screen and (max-width: 1023px) {
  #nosotros .row3 .ropaje {
    display: none;
  }
  #nosotros .row3 .ropajecel {
    width: 100vw;
    height: auto;
    display: flex;
  }
  #nosotros .row2 .porQue {
    font-size: 30px;
  }
}
@media screen and (max-width: 767px) {
  #nosotros .row2 .porQue {
    font-size: 25px;
  }
  #nosotros .row-4 .main a img {
    width: 17vw;
  }
}
@media screen and (max-width: 476px) {
  #nosotros .row2 .porQue {
    font-size: 20px;
    margin-left: 0vw;
    margin-right: 0vw;
    width: 100vw;
  }
  #nosotros .row4 .main a img {
    width: 30vw;
  }
}
#mentirita {
  width: 100vw;
  height: auto;
  background-color: black;
}

#ropa {
  display: grid;
  background-color: black;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 0px 0px;
  padding: 0%;
  margin: 0%;
  width: 100vw;
  height: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  grid-template-areas: "header header" "nav nav" "article article" "navPag2 navPag2" "footer footer";
}
#ropa .article {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(37.5rem, auto));
  grid-auto-rows: auto;
  width: 100vw;
  height: auto;
  -ms-grid-column-align: center;
  gap: 10px 10px;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  grid-area: article;
  margin: 10px 10px;
}
#ropa .article #carouselExampleDark {
  width: 500px;
  height: auto;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  display: grid;
}
#ropa .article #carouselExampleDark .botonCarousel {
  width: 100px;
}
#ropa .article .div3 {
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  display: grid;
  gap: 20px;
}
#ropa .article .div3 .backgroundcel {
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
}
#ropa .article .div3 .comprar {
  margin-top: 10px;
}
#ropa #sectionRopa {
  grid-area: navPag2;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-self: center;
  justify-items: center;
  width: 100vw;
  height: auto;
  margin: 10px;
  margin-top: 10vw;
  margin-bottom: 1vw;
}
#ropa #sectionRopa .SectionRopaImg {
  width: 12vw;
  margin: 1vw;
}
#ropa #footerPadre {
  grid-area: footer;
  margin: 1vw 0vw 0vw 0vw;
}

@media screen and (max-width: 1023px) {
  #ropa #sectionRopa .SectionRopaImg {
    width: 25vw;
    margin: 1vw;
  }
  #ropa .article #carouselExampleDark {
    width: 50vw;
  }
}
@media screen and (max-width: 767px) {
  #ropa #sectionRopa .SectionRopaImg {
    width: 120px;
    margin: 1vw;
  }
  #ropa .article #carouselExampleDark {
    width: 400px;
    height: auto;
  }
  #ropa .article .div3 .backgroundcel {
    width: 400px;
    height: auto;
  }
  #ropa .article .div3 .comprar {
    width: 400px;
    height: auto;
  }
}
@media screen and (max-width: 476px) {
  #ropa #sectionRopa .SectionRopaImg {
    width: 100px;
  }
  #ropa .article #carouselExampleDark {
    width: 80vw;
    height: auto;
  }
  #ropa .article .div3 .backgroundcel {
    width: 80vw;
    height: auto;
  }
  #ropa .article .div3 .comprar {
    width: 80vw;
    height: auto;
  }
  .article #carouselExampleDark .botonCarousel {
    width: 2vw;
  }
}
@media screen and (max-width: 375px) {
  #ropa #sectionRopa .SectionRopaImg {
    width: 80px;
  }
}/*# sourceMappingURL=style.css.map */