
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	overflow-x: hidden;
	
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	
	line-height: 1;
	width: auto;
	height: 100vw;
	animation: Animacion 1s ease 0s 1 normal forwards;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.hidden{
	display:none
}
/* fin del reset */

#index {
	display: grid; 
	overflow-x: hidden;
	grid-template-columns: 1fr 1fr 1fr; 
	grid-template-rows: auto; 
	gap: 0px 0px; 
	width: 100vw;
	height: auto;
	grid-template-areas: 
		"header header header"
		"nav nav nav"
		"logo logo logo"
		"footerPadre footerPadre footerPadre"
}
#header { grid-area: header; 
width: 100vw;
height: auto;
padding: 0%;}
#nav { grid-area: nav; }
.logo { grid-area: logo; }
.footerPadre {grid-area: footerPadre;}

.www {
	display:grid;
	width: 100vw;
}
.ul2 {
	display: none;
	justify-content: center;
	align-items: center;
	width: 100vw;
	margin: 0px 0px;
	padding: 0%;
}
#nav1 {
	padding: 0%;
}
#nav:hover .ul2{
display: grid;
position: absolute;
animation: Animacion 2s ease 0s 1 normal forwards;
z-index: 1000;
}
.imgMenu{
	width: 200px;
	margin: 0%;
}
.element-style{
	padding: 0%
}
@keyframes Animacion {
	100% {
		opacity: 1;
	}

	0% {
		opacity: 0;
	}
}

.logo{
	display:grid;
	align-items: center;
	width: auto;
	height: 80vh;
}

.footerPadre {
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr; 
	grid-template-rows: auto; 
	align-items: center;
	align-content: center;
	gap: 0px 0px; 
	height: auto;
	width: 100vw;
	align-items: center;
	grid-template-areas: 
	"footer footer footer"
	"iframe iframe iframe"
	"footer2 footer2 footer2"; 
}
.footer { grid-area: footer; 
	width: 100vw;
	height: auto;
}
#iframe { grid-area: iframe;
	width: 99vw;
	height: 40vw;
	position: relative;
}
.footer2 { grid-area: footer2; 
	width: 100vw;
	align-items: center;
}
.wwwCel {
	display: none;
}
#productos {
	width: 100vw;
	height: auto;
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr ; 
	grid-template-rows: auto; 
	gap: 0px 0px 0px 10px;
	align-items: center; 
	align-content: center;
	justify-content:center;
	grid-template-areas: 
		"header header header"
		"nav nav nav"
		"div1 div1 div1"
		"navPag navPag navPag"
		"footer footer footer"; 
	}
	#header { grid-area: header; 
	width: 100vw;
	height: auto;
	}
	.nav { grid-area: nav; }
	.footerpadre { grid-area: footer; 
		width: 100vw;
		height: auto;}
	.navPag{
		display: grid;
		grid-area: navPag;
		align-items: center;
		align-content: center;
		justify-content:center;
	}
	.page-link2 {
		position: relative;
		display: block;
		padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
		font-size: var(--bs-pagination-font-size);
		color: rgb(255, 238, 0);
		border-color: rgb(255, 238, 0);
		text-decoration: none;
		background-color: black;
		border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
	.pagination {
		align-items: center;
		margin: 0%;
		
	}
	#div1 {
		display: grid; 
		height: auto;
		width: 100vw;
		grid-template-columns: repeat(auto-fill, minmax(600px, auto));
		grid-auto-rows: auto; 
		gap: 0px 40px; 
		grid-area: div1; 
		justify-content: center;
		justify-items: center;
	}
	.imgRopa {
		display:grid;
		height: 700px;
		width:auto;
		
	}
	#nosotros {
		width: 100vw;
		height:auto ;
	}
	.row-padding{
		height: auto;
		width: 100vw;
	}
	.porQue {
		margin-left: 5vw;
		margin-right: 5vw;
		display: grid;
		position: relative;
		width: 90vw;
		height: auto;
		grid-area: p2;
		font-size: 30px;
		font-family: monospace;
		text-align: center;
		font-style: oblique;
		-webkit-text-stroke: 0px;
		font-style: oblique;
		text-shadow: 0px 2px rgba(255, 238, 0, 0.322);
		color:  rgb(255, 238, 0);
		justify-content: center;
		justify-items: center;
	}
	.main {
		margin-left: 5vw;
		margin-right: 5vw;
		display: grid;
		position: relative;
		width: 90vw;
		height: auto;
		grid-area: p2;
		font-size: 40px;
		font-family: monospace;
		text-align: center;
		font-style: oblique;
		-webkit-text-stroke: 0px;
		font-style: oblique;
		text-shadow: 0px 2px rgba(255, 238, 0, 0.322);
		color:  rgb(255, 238, 0);
		justify-content: center;
		justify-items: center;
	}
	#mentirita {
		width: 100vw;
		height: 100vh;
	}
	#ropa {
		display: grid; 
		grid-template-columns: 1fr 1fr; 
		grid-template-rows: auto; 
		gap: 0px 0px;
		padding: 0%;
		margin: 0%;
		width: 100vw;
		height: auto;
		justify-content: center;
		align-items: center;
		-ms-grid-column-align: center; 
		grid-template-areas: 
		"header header"
		"nav nav"
		"article article"
		"navPag2 navPag2"
		"footer footer"; 
	}
	#header { grid-area: header; }
	.nav { grid-area: nav; }
	.aside { grid-area: aside; }
	.article {
		display: grid; 
		grid-template-columns: repeat( auto-fit, minmax(37.5rem, auto));
		grid-auto-rows: auto; 
		width: 100vw;
		height: auto;
		-ms-grid-column-align: center;
		gap: 10px 10px; 
		justify-content: center;
		align-items: center;
		justify-items: center;
		grid-area: article; 
		margin: 10px 10px;
	}
	#sectionRopa {
		grid-area: navPag2;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		align-content: center;
		justify-content:center;
		width: 100vw;
		margin: 10px;
		margin-top: 10vw;
		margin-bottom: 1vw;   
	}
	.SectionRopaImg{
		width: 12vw;
		margin: 1vw;
		border: var( rgb(255, 238, 0)) solid var( rgb(255, 238, 0));
	}
	
	.page-link1 {
		position: relative;
		display: block;
		padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
		font-size: var(--bs-pagination-font-size);
		color: rgb(255, 238, 0);
		border-color: rgb(255, 238, 0);
		text-decoration: none;
		background-color: black;
		border: var(black) solid var(black);
		transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	}
	.footer {grid-area: footer;
	margin: 1vw 0vw 0vw 0vw;}
	#carouselExampleDark {
		width: 600px;
		height: auto;
		justify-content: center;
		align-items: center;
		display: grid;
	}
	.div3 {
		justify-content: center;
		align-items: center;
		display: grid;
		gap: 20px;
	}
	.backgroundcel {
		display: grid;
		justify-content: center;
		align-items: center;
	}
	.ropaje{
		width:100vw;
		height:auto;
		padding: 0%;
	}
		/* media */
	.wwwcel {
		display: none;
		width: 100vw;
		height:auto;
	}
	.footer2Cel2 {
		display:none;
	}
	.footerCel2 {
		display:none;
	}
	.wwwcel2 {
		display: none;
		width: 100vw;
		height:auto;
	}
	.footerCel{
		display: none;
	}
	.footer2Cel{
		display: none;
	}
	.ropajecel {
		display: none;
	}
	@media screen and (max-width: 1023px){
		.SectionRopaImg{
			width: 25vw;
			margin: 1vw;
		}
		#carouselExampleDark{
			width: 550px;
		}
		.ropaNav {
			width: 200px;
		}
	}
	@media screen and (max-width: 767px){
		.SectionRopaImg{
			width: 120px;
			margin: 1vw;
		}
		#carouselExampleDark {
			width: 80vw;
			height: auto;
		}
		.backgroundcel {
			width: 80vw;
			height: auto;
		}
		.comprar {
			width: 80vw;
			height: auto;
		}
		.ropaNav {
			width: 100px;
		}
	}